{
    "stage": 4,
    "optional": [
        "runtime",
        "es7.objectRestSpread"
    ],
    "plugins": ["react-intl"],
    "extra": {
        "react-intl": {
            "messagesDir": "./temp/messages/"
        }
    }
}
