{
    "presets": [
        "es2015",
        "react"
    ],
    "plugins": [
        "transform-object-rest-spread",
        "transform-runtime",
        ["react-intl-zbox", {
                    "messagesDir": "./temp/messages/",
                    "enforceDescriptions": false
        }]
    ]
}